:root {
  --background: #ffffff;
  --foreground: #171717;
}

html,
body {
  max-width: 440px;

  outline: 1px solid #e0e0e0;
  margin: 0 auto;
  padding: 0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scrollbar-width: none; /* Firefox에서 작동 */
  -ms-overflow-style: none; /* Internet Explorer 10+에서 작동 */
  ::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge에서 작동 */
  }
}

a {
  color: inherit;
  text-decoration: none;
}
